asgiref==3.5.2
certifi @ file:///C:/Windows/TEMP/abs_e9b7158a-aa56-4a5b-87b6-c00d295b01fanefpc8_o/croots/recipe/certifi_1655968940823/work/certifi
Django==4.1
gunicorn==20.1.0
Pillow==10.0.0
psycopg2-binary==2.9.6
sqlparse==0.4.2
tzdata==2022.1
wincertstore==0.2
